footer {
  background-color: #6d929b;
}
footer .wrap {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  color: #fff;
  font-weight: 300;
  position: relative;
}
footer .wrap h1 {
    
}
footer .wrap h1 a {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
footer .wrap address {
  line-height: 1.5;
}
footer .wrap address strong {
  margin-right: 10px;
  font-weight: 500;
  
}
footer .wrap address strong:nth-child(4){
  margin-left: 18px;
}
footer .wrap p {
    
}
footer .wrap p.tel {
  position: absolute;
  right: 0;
  bottom: 60px;
  font-size: 30px;
  font-weight: 500;
}
footer .wrap p.tel strong {
    
}