body {
  width: auto;
  height: 916px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0;
  background-color: #F5FAFA;
  }
  body h1 a{
  width: 509px;
  height: 513px;
  background-image: url(../img/logo-1.png);
  background-repeat: no-repeat;
  font-size: 0;
  margin: 0 auto;
  display: block;
  }
