/* ------------------회사소개------------------- */
section#company {
  background-color: #F5FAFA;
  position: relative;
}
section#company::before{
  content: "";
  background-image: url(../img/comtanybg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 563px;
  display: block;
  width: 701px;
  height: 722px;
  /*! border: 1px solid; */
  position: absolute;
  transform: scaleX(-1);
  background-position-x: 0px;
  background-position-y: 313px;
  top: -242px;
  right: 192px;
  z-index: 1;
}
section#company::after{
   content: "";
   background: #a0bbc1;
   width: 266px;
   height: 100%;
   display: block;
   position: absolute;
   right: 0px;
   bottom: 0;
}
section#company .wrap {
  position: relative;
  height: 100%;
}
section#company .wrap h2 {
  font-size: 45px;
  color: #77726b;
}
section#company .wrap h3 {
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 58px;
  margin-top: 44px;
  color: #8e958f;
}
section#company .wrap h3 .blodk {
    
}
section#company .wrap h3 span {
  font-size: 63px;
  color: #6d929b;
  font-weight: 500;
  margin-top: 18px;
}
section#company .wrap p {
  line-height: 1.3;
  font-size: 24px;
  margin-bottom: 26px;
  font-weight: 300;
  color: #848884;
}
section#company .wrap a {
  padding: 20px 20px;
  margin-top: 30px;
  display: inline-block;
  width: 247px;
  text-align: center;
  background-color: #6d929b;
  color: #fff;
  border-radius: 20px;
  transition: all 0.5s;
  border: 2px solid #6d929b;
  box-sizing: border-box;
}
section#company .wrap a:hover{
  background-color: transparent;
  border: 2px solid #6d929b;
  color: #6d929b;
}
/* ------------------서비스------------------- */
section#serviecs {
  
}
section#serviecs .wrap {
  position: relative;
  height: 100%;
  margin: 38px auto;
}
section#serviecs .wrap::before{
  content: "";
  display: block;
  width: 812px;
  height: 589px;
  background-color: #f2f2f2;
  border-radius: 20px;
  position: absolute;
  left: 509px;
  top: 108px;
  background-image: url(../img/sect02-slide01.png);
  background-size: 385px;
  background-repeat: no-repeat;
  background-position: center;
}
/* section#serviecs .wrap::after{
  content: "";
  background-image: url(../img/logo-1.png);
  display: block;
  width: 470px;
  height: 553px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 8px;
  top: 249px;
  opacity: 0.3;
  transform: rotate(11deg);
} */
section#serviecs .wrap h2 {
  font-size: 45px;
  color: #E8D0A9;
}
section#serviecs .wrap ul {
  row-gap: 18px;
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}
section#serviecs .wrap ul li {
  display: flex;
  text-align: center;
  position: relative;
}
section#serviecs .wrap ul li .h3 {
  width: 526px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 111px;
  border-radius: 20px;
  transition: all 0.8s;
  box-shadow: 2px 5px 2px #cecece;
  background-color: #6d929b;
  color: #fff;
}
section#serviecs .wrap ul li .h3:hover{
  background-color: #f2f2f2;
  color: #6d929b;
}
section#serviecs .wrap ul li .h3:hover+div.p{
  display: block;
}
section#serviecs .wrap ul li .h3 h3 {
  font-size: 20px;
  margin-bottom: 13px;
  font-weight: 600;
}
section#serviecs .wrap ul li .h3 p {
  font-weight: 500;
}
section#serviecs .wrap ul li .p {
  width: 458px;
  position: absolute;
  right: 169px;
  display: none;
  /*! border: 2px solid #6d929b; */
  padding: 50px;
  border-radius: 20px;
  top: -71px;
  display: none;
  background-color: #f2f2f2;
}
section#serviecs .wrap ul li:nth-child(1) .p{
  
}
section#serviecs .wrap ul li:nth-child(2) .p{
  top: -190px;
}
section#serviecs .wrap ul li:nth-child(3) .p{
  top: -330px;
}
section#serviecs .wrap ul li .p img{
  width: 298px;
  margin-top: 18px;
}
section#serviecs .wrap ul li .p p {
  width: 100%;
}
section#serviecs .wrap ul li .p p:first-of-type{
  margin: 32px 0;
  line-height: 1.5;
}
/* ------------------히스토리------------------- */
section#history {
  background-color: #F5FAFA;
}
section#history .wrap {
  position: relative;
  display: flex;
  height: 100%;
  z-index: 1;
  padding: 130px 0;
  padding-left: 125px;
  padding-top: 100px;
}
section#history .wrap hgroup {
  width: 50%;
  background-image: url(../img/sect02-slide02.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: bottom;
  
  height: 656px;
}
section#history .wrap hgroup h2 {
  font-size: 45px;
  color: #77726b;
}
section#history .wrap hgroup h3 {
  font-size: 27px;
  font-weight: 400;
  margin: 32px 0;
  color: #848884;
}
section#history .wrap hgroup h3 span{
  font-size: 63px;
  color: #6d929b;
  font-weight: 500;
  margin-top: 23px;
}
section#history .wrap ul {
  width: 50%;
  margin: 0 auto;
  margin-top: 169px;
  font-size: 20px;
  line-height: 3;
  padding-left: 50px;
  z-index: 1;
}
section#history .wrap ul::after{
  content: "";
  height: 451px;
  display: block;
  border-left: 3px solid #6d929b;
  position: absolute;
  left: 773px;
  top: 281px;
}
section#history .wrap ul li {
  
}
/* ------------------오시는길------------------- */
section#location {
  
  position: relative;
}
section#location .wrap {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  column-gap: 144px;
  z-index: 1;
}
section#location::after{
  content: "";
  background-image: url(../img/Lbg-1.png);
  width: 1905px;
  height: 1413px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.8;
  z-index: 0;
}
section#location .wrap iframe {
  
  width: 783px;
  border: 2px solid #6d929b !important;
  height: 515px;
}
section#location .wrap .left {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}
section#location .wrap .left hgroup {
  margin: 0 auto;
  margin-top: 85px;
}
section#location .wrap .left hgroup h2 {
  font-size: 45px;
  color: #E8D0A9;
}
section#location .wrap .left hgroup h3 {
  font-size: 63px;
  color: #fff;
  font-weight: 500;
  display: block;
  margin-top: 30px;
}
section#location .wrap .left p {
  font-size: 18px;
  font-weight: 400;
  color: #dbdbdb;
  
}
section#location .wrap .left p:nth-of-type(1){
  margin-top: 30px;
}
section#location .wrap .left a {
  padding: 20px 20px;
  margin-top: 50px;
  display: inline-block;
  width: 247px;
  text-align: center;
  background-color: #6d929b;
  color: #fff;
  border-radius: 20px;
  transition: all 0.5s;
  box-sizing: border-box;
  border: 2px solid #fff;
}
section#location .wrap .left a::after{
  content: "";
  display: inline-block;
  border: 2px solid;
  border-bottom-color: currentcolor;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: currentcolor;
  border-left-style: solid;
  border-left-width: 2px;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-left: transparent;
  border-bottom: transparent;
  transform: rotate(45deg);
}
section#location .wrap .left a:hover{
  background-color: #fff;
  border: 2px solid #fff;
  color: #6d929b;
  box-sizing: border-box;
}